@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

body {
	font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}
p {
	font-size: 1.75vh;
}
h2 {
	font-size: 4.75vh;
}

$white: #F1F1F1;
$gray: #717171;
$blue: #194567;
$hard-blue: #265677;
$base-aqua: #4ba2af;
$hard-gray: #2d2d2d;
$light-gray: #ebebeb;
$light: #f7f7f7;

@mixin smooth {
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition:all .3s;
}
a {
	@include smooth;
}

.ip-header {
	position: fixed;
	top: 0;
	z-index: 100;
	// min-height: 460px;
	width: 100%;
	height: 100%;
	background: $white;
	h1 {
		margin: 0;
	}
	.ip-inner {
		display: block;
		margin: 0 auto;
	}
	.ip-logo {
		top: 0;
		height: 100%;
		-webkit-transform: translate3d(0,25%,0);
		transform: translate3d(0,25%,0);
		position: absolute;
		left: 0;
		width: 100%;
		opacity: 0;
		cursor: default;
		pointer-events: none;
		svg {
			position: absolute;
			min-height: 15vh;
			height: 25%;
			.st0 {
				fill: $hard-blue;
			}
		}
	}
	.ip-social {
		top: 0;
		height: 100%;
		position: absolute;
		left: 0;
		width: 100%;
		opacity: 0;
		cursor: default;
		text-align: right;
		color: $white;
		font-size: 3vh;
		.cta {
			display: inline-block;
		}
		a {
			display: inline-block;
			margin-left: 2vh;
			color: $white;
			font-size: 3.5vh;
		}
	}
	.ip-loader {
		position: absolute;
		left: 0;
		width: 100%;
		opacity: 0;
		cursor: default;
		pointer-events: none;
		bottom: 50%;
		svg {
			path {
				fill: none;
				stroke-width: 15;
				&.ip-loader-circlebg {
					stroke: #ddd;
				}
				&.ip-loader-circle {
					-webkit-transition: stroke-dashoffset 0.2s;
					transition: stroke-dashoffset 0.2s;
					stroke: $hard-blue;
				}
			}
		}
	}
}

.loaded {
	.ip-header {
		.ip-logo {
			svg {
				max-height: 10vh;
			}
		}
	}
}


/* Initial animation of header elements */
.loading {
	.ip-logo {
		-webkit-animation: animInitialLogo 1s cubic-bezier(0.7,0,0.3,1) both;
		animation: animInitialLogo 1s cubic-bezier(0.7,0,0.3,1) both;
	}
	.ip-social {
		-webkit-animation: animInitialSocial 1s cubic-bezier(0.7,0,0.3,1) both;
		animation: animInitialSocial 1s cubic-bezier(0.7,0,0.3,1) both;
	}
	.ip-loader {
		opacity: 1;
		-webkit-animation: animInitialLoader 1s cubic-bezier(0.7,0,0.3,1) both;
		animation: animInitialLoader 1s cubic-bezier(0.7,0,0.3,1) both;
	}
}

@-webkit-keyframes animInitialLogo {
	from { opacity: 0; }
}

@keyframes animInitialLogo {
	from { opacity: 0; }
}
@-webkit-keyframes animInitialSocial {
	from { opacity: 0; }
}

@keyframes animInitialSocial {
	from { opacity: 0; }
}

@-webkit-keyframes animInitialLoader {
	from { opacity: 0; -webkit-transform: scale3d(0.5,0.5,1); }
}

@keyframes animInitialLoader {
	from { opacity: 0; -webkit-transform: scale3d(0.5,0.5,1); transform: scale3d(0.5,0.5,1); }
}

/* Header elements when loading finishes */
.loaded {
	.ip-logo {
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
		-webkit-animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
		animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
	}
	.ip-social {
		-webkit-transform-origin: 80% 0;
		transform-origin: 80% 0;
		-webkit-animation: animLoadedSocial 1s cubic-bezier(0.7,0,0.3,1) forwards;
		animation: animLoadedSocial 1s cubic-bezier(0.7,0,0.3,1) forwards;
	}
	.ip-loader {
		opacity: 1;
		-webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
		animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	}
	.ip-logo {
		svg {
			.st0 {
				-webkit-transition: all 0.5s ease 0.3s;
				transition: all 0.5s ease 0.3s;
				fill: $white;
			}
		}
	}
	.ip-header {
		-webkit-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
		animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
	}
}

@-webkit-keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,20px,0) scale3d(0.65,0.65,1); width: 40vh; opacity: 1;}
}

@keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,20px,0) scale3d(0.65,0.65,1); transform: translate3d(0,100%,0) translate3d(0,20px,0) scale3d(0.65,0.65,1); width: 40vh;  opacity: 1;}
}

@-webkit-keyframes animLoadedSocial {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,20px,0) scale3d(0.65,0.65,1); opacity: 1;}
}

@keyframes animLoadedSocial {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,20px,0) scale3d(0.65,0.65,1); transform: translate3d(0,100%,0) translate3d(0,20px,0) scale3d(0.65,0.65,1);  opacity: 1;}
}

@-webkit-keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@-webkit-keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); }
}

@keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}

/* Content animations */
.loaded .ip-main h2,
.loaded .ip-main .browser,
.loaded .ip-main .browser .box,
.loaded .codrops-demos {
	-webkit-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
	animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
}

.loaded .ip-main h2,
.loaded .ip-main .browser .box:first-child {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.loaded .codrops-demos,
.loaded .ip-main .browser .box:nth-child(2) {
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

.loaded .ip-main .browser .box:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: scale3d(0.3,0.3,1); }
}

@keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: scale3d(0.3,0.3,1); transform: scale3d(0.3,0.3,1); }
}

/* Change layout class for header */
.layout-switch .ip-header {
	position: absolute;
}

/* No JS */
.no-js {
	.ip-header {
		position: relative;
		min-height: 0px;
		.ip-logo {
			margin-top: 20px;
			height: 180px;
			opacity: 1;
			-webkit-transform: none;
			transform: none;
			svg {
				path {
					fill: $white;
				}
			}
		}
	}
}

.charged {
  background: $blue;
}

.spacer {
	height: 10vh;
	display: block;
	width: 100%;
}
.spacer-s {
	height: 5vh;
	display: block;
	width: 100%;
}

section {
	padding-top: 15vh;
	padding-bottom: 15vh;
}

#home {
	background-image: url('../assets/img/bg-home.png');
	background-position: center;
  background-attachment: fixed;
  background-size: cover;
	padding-top: 15vh;
	height: 100vh;
}

#servicios {
	background-color: $hard-gray;
	h2 {
		color: $white;
		font-weight: 400;
	}
	p {
		color: $white;
		&.aqua {
			color: $base-aqua;
		}
	}
	.how-it-works {
		img {
			margin-top: 3vh;
			margin-bottom: 5vh;
		}
	}
}

#proceso {
	background-color: $light-gray;
	h2 {
		position: relative;
		&:before {
			content: ' ';
			height: 1px;
	    background-color: $gray;
	    display: block;
	    width: 25%;
	    position: absolute;
	    left: 0;
	    top: 3.5vh;
		}
		&:after {
			content: ' ';
			height: 1px;
	    background-color: $gray;
	    display: block;
	    width: 25%;
	    position: absolute;
	    right: 0;
	    top: 3.5vh;
		}
	}
}

#galeria {
	background-color: $light-gray;
	h2 {
		position: relative;
		&:before {
			content: ' ';
			height: 1px;
	    background-color: $gray;
	    display: block;
	    width: 25%;
	    position: absolute;
	    left: 0;
	    top: 3.5vh;
		}
		&:after {
			content: ' ';
			height: 1px;
	    background-color: $gray;
	    display: block;
	    width: 25%;
	    position: absolute;
	    right: 0;
	    top: 3.5vh;
		}
	}
}

#acerca {
	background-color: $light;
	h2 {
		position: relative;
		&:before {
			content: ' ';
			height: 1px;
	    background-color: $gray;
	    display: block;
	    width: 25%;
	    position: absolute;
	    left: 0;
	    top: 3.5vh;
		}
		&:after {
			content: ' ';
			height: 1px;
	    background-color: $gray;
	    display: block;
	    width: 25%;
	    position: absolute;
	    right: 0;
	    top: 3.5vh;
		}
	}
}

#contacto {
	background-color: $hard-gray;
	padding-top: 5vh;
	padding-bottom: 5vh;
	.leftInfo {
		color: $white;
		img {
			max-width: 18vh;
		}
		ul {
			margin: 8vh 0 8vh 5vh;
			position: relative;
			li{
			  	list-style: none;
	  	    font-size: 1.75vh;
	  	    margin-bottom: 1.75vh;
	  	    position: relative;
				&:before {
				  content: '';
		      display: inline-block;
		      height: 3.5vh;
		      width: 3.5vh;
		      background-repeat: no-repeat;
		      background-size: contain;
		      position: absolute;
		      left: -4.25vh;
				}
				&.address:before {
					background-image: url('../assets/svg/icon-address.svg');
				}
				&.phone:before {
					background-image: url('../assets/svg/icon-phone.svg');
				}
				&.mail:before {
					background-image: url('../assets/svg/icon-mail.svg');
				}
			}
		}
		p {
			font-size: 1.75vh;
		}
	}
	.rightInfo {
		color: $white;
		text-align: center;
		p {
			margin-bottom: 0;
		}
		form {
			margin-top: 2vh;
			input {
				border-radius: 0.5vh;
				border: none;
			}
			.button {
				width: 100%;
				background-color: $base-aqua;
				border-radius: 0.5vh;
				font-family: 'Raleway', sans-serif;
				font-weight: 700;
				&:hover {
					background-color: darken( $base-aqua, 10% );
				}
			}
		}
		a {
			color: $white;
			font-size: 1.5vh;
			&:hover {
				color: $base-aqua;
			}
		}
	}
}

#navigation {
	position: absolute;
	top: 90%;
	width: 100%;
	background-color: transparent;
	z-index: 9;
	h1 {
		opacity: 0;
		@include smooth;
		img {
			max-width: 20vh
		}
	}
	&.fixed {
		position: fixed;
		background-color: $blue;
		h1 {
			opacity: 1;
		}
		top: 0;
	}
	.navMain {
		text-align: right;
		a {
			font-size: 1.75vh;
		}
	}
}

.menu {
	>li {
		float: right;
	}
}

/* Effect 5: same word slide in */

.menu a {
	position: relative;
	outline: none;
	text-decoration: none;
}

.menu a:hover,
.menu a:focus {
	outline: none;
}

/* Effect 13: three circles */
.cl-effect-13 {
	a {
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
		transition: color 0.3s;
		color: $base-aqua;
		&::before {
			position: absolute;
			top: 100%;
			left: 50%;
			color: transparent;
			content: '•';
			text-shadow: 0 0 transparent;
			-webkit-transition: text-shadow 0.3s, color 0.3s;
			-moz-transition: text-shadow 0.3s, color 0.3s;
			transition: text-shadow 0.3s, color 0.3s;
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			transform: translateX(-50%);
			pointer-events: none;
		}
		&:hover {
			&::before {
				color: $base-aqua;
				text-shadow: 10px 0 $base-aqua, -10px 0 $base-aqua;
			}
		}
		// &:focus {
		// 	&::before {
		// 		color: $base-aqua;
		// 		text-shadow: 10px 0 $base-aqua, -10px 0 $base-aqua;
		// 	}
		// }
		&:hover {
			color: $base-aqua;
		}
		// &:focus {
		// 	color: $white;
		// }
		&.active {
			color: $white;
			&:hover {
				&::before {
					color: $white;
					text-shadow: 10px 0 $white, -10px 0 $white;
				}
			}
			// &:focus {
			// 	&::before {
			// 		color: $white;
			// 		text-shadow: 10px 0 $white, -10px 0 $white;
			// 	}
			// }
		}
	}
}