@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

body {
	font-family: 'Raleway', sans-serif;
}

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

*::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

video::-webkit-media-controls {
    display:none !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}
p {
	font-size: 0.85rem;
}
h2 {
	font-size: 2.15rem;
}

$white: #FFFFFF;
$gray: #717171;
$blue: #194567;
$hard-blue: #265677;
$base-aqua: #4ba2af;
$hard-gray: #2d2d2d;
$light-gray: #ebebeb;
$light: #f7f7f7;
$orange: #ffae00;
$dark: #313131;

@mixin smooth {
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition:all .3s;
}
a {
	@include smooth;
}

.button {
	font-family: 'Raleway', sans-serif;
	background-color: $orange;
	font-weight: 700;
	border-radius: 0.5rem;
	&:hover {
		background-color: darken($orange, 10%);
	}
	&:focus {
		background-color: $orange;
	}
}

.ip-header {
	position: fixed;
	top: 0;
	z-index: 100;
	// min-height: 460px;
	width: 100%;
	height: 100%;
	background: $white;
	@include smooth;
	h1 {
		margin: 0;
	}
	.ip-inner {
		display: block;
		margin: 0 auto;
	}
	.ip-logo {
		top: 0;
		height: 100%;
		-webkit-transform: translate3d(0,25%,0);
		transform: translate3d(0,25%,0);
		position: absolute;
		left: -17%;
		width: 100%;
		opacity: 0;
		cursor: default;
		pointer-events: none;
		svg {
			position: absolute;
			min-height: 10rem;
			height: 25%;
			.st0 {
				fill: $hard-blue;
			}
		}
	}
	.ip-social {
		top: 0;
		height: 100%;
		position: absolute;
		right: -4.5%;
		width: 100%;
		opacity: 0;
		cursor: default;
		text-align: right;
		color: $white;
		font-size: 1.5rem;
		.cta {
			display: inline-block;
			font-size: 1.75rem;
		}
		a {
			display: inline-block;
			margin-left: 2rem;
			color: $white;
			font-size: 1.85rem;
		}
	}
	.ip-loader {
		position: absolute;
		left: 0;
		width: 100%;
		opacity: 0;
		cursor: default;
		pointer-events: none;
		bottom: 50%;
		svg {
			path {
				fill: none;
				stroke-width: 15;
				&.ip-loader-circlebg {
					stroke: #ddd;
				}
				&.ip-loader-circle {
					-webkit-transition: stroke-dashoffset 0.2s;
					transition: stroke-dashoffset 0.2s;
					stroke: $hard-blue;
				}
			}
		}
	}
}

.loaded {
	.ip-header {
		height: 20rem;
		.ip-logo {
			svg {
				max-height: 5rem;
			}
		}
	}
}


/* Initial animation of header elements */
.loading {
	.ip-logo {
		-webkit-animation: animInitialLogo 1s cubic-bezier(0.7,0,0.3,1) both;
		animation: animInitialLogo 1s cubic-bezier(0.7,0,0.3,1) both;
	}
	.ip-social {
		-webkit-animation: animInitialSocial 1s cubic-bezier(0.7,0,0.3,1) both;
		animation: animInitialSocial 1s cubic-bezier(0.7,0,0.3,1) both;
	}
	.ip-loader {
		opacity: 1;
		-webkit-animation: animInitialLoader 1s cubic-bezier(0.7,0,0.3,1) both;
		animation: animInitialLoader 1s cubic-bezier(0.7,0,0.3,1) both;
	}
}

@-webkit-keyframes animInitialLogo {
	from { opacity: 0; }
}

@keyframes animInitialLogo {
	from { opacity: 0; }
}
@-webkit-keyframes animInitialSocial {
	from { opacity: 0; }
}

@keyframes animInitialSocial {
	from { opacity: 0; }
}

@-webkit-keyframes animInitialLoader {
	from { opacity: 0; -webkit-transform: scale3d(0.5,0.5,1); }
}

@keyframes animInitialLoader {
	from { opacity: 0; -webkit-transform: scale3d(0.5,0.5,1); transform: scale3d(0.5,0.5,1); }
}

/* Header elements when loading finishes */
.loaded {
	.ip-logo {
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
		-webkit-animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
		animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
		@media (max-width: 768px) {
			-webkit-transform-origin: 14% 90%;
			transform-origin: 14% 90%;
		}
	}
	.ip-social {
		-webkit-transform-origin: 80% 100%;
		transform-origin: 80% 100%;
		-webkit-animation: animLoadedSocial 1s cubic-bezier(0.7,0,0.3,1) forwards;
		animation: animLoadedSocial 1s cubic-bezier(0.7,0,0.3,1) forwards;
	}
	.ip-loader {
		opacity: 1;
		-webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
		animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	}
	.ip-logo {
		svg {
			.st0 {
				-webkit-transition: all 0.5s ease 0.3s;
				transition: all 0.5s ease 0.3s;
				fill: $white;
			}
		}
	}
	.ip-header {
		-webkit-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
		animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
	}
}

@-webkit-keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,20px,0) scale3d(0.65,0.65,1); width: 40rem; opacity: 1;}
}

@keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,20px,0) scale3d(0.65,0.65,1); transform: translate3d(0,100%,0) translate3d(0,20px,0) scale3d(0.65,0.65,1); width: 40rem;  opacity: 1;}
}

@-webkit-keyframes animLoadedSocial {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,20px,0) scale3d(0.65,0.65,1); opacity: 1;}
}

@keyframes animLoadedSocial {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,20px,0) scale3d(0.65,0.65,1); transform: translate3d(0,100%,0) translate3d(0,20px,0) scale3d(0.65,0.65,1);  opacity: 1;}
}

@-webkit-keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@-webkit-keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); }
}

@keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}

/* Content animations */
.loaded .ip-main h2,
.loaded .ip-main .browser,
.loaded .ip-main .browser .box,
.loaded .codrops-demos {
	-webkit-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
	animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
}

.loaded .ip-main h2,
.loaded .ip-main .browser .box:first-child {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.loaded .codrops-demos,
.loaded .ip-main .browser .box:nth-child(2) {
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

.loaded .ip-main .browser .box:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: scale3d(0.3,0.3,1); }
}

@keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: scale3d(0.3,0.3,1); transform: scale3d(0.3,0.3,1); }
}

/* Change layout class for header */
.layout-switch .ip-header {
	position: absolute;
}

/* No JS */
.no-js {
	.ip-header {
		position: relative;
		min-height: 0px;
		.ip-logo {
			margin-top: 20px;
			height: 180px;
			opacity: 1;
			-webkit-transform: none;
			transform: none;
			svg {
				path {
					fill: $white;
				}
			}
		}
	}
}

.charged {
  background: $blue;
}

.spacer {
	height: 3rem;
	display: block;
	width: 100%;
}
.spacer-s {
	height: 5rem;
	display: block;
	width: 100%;
}

section {
	padding-top: 7rem;
	padding-bottom: 7rem;
}

#home {
	padding: 12rem 0 5rem;
	height: 100%;
	position: relative;
	color: $white;
	@media (max-width: 425px) {
		padding: 9rem 0 0;
	}
	.over-bg {
		background-image: url('../assets/img/bg-home.png');
		background-position: center;
	  background-attachment: fixed;
	  background-size: cover;
	  width: 100%;
	  height: 100%;
	  position: fixed;
	  top: 0;
	  opacity: 0.85;
	  z-index: -1;
	}
	#video-bg {
		position: fixed;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  z-index: -3;
	}
	.info-intro {
		img {
			max-width: 3rem;
		}
		ul {
			margin: 0;
			list-style: none;
			li {
				display: inline-block;
				a {
					margin: 1rem;
				}
			}
		}
	}
}
.aqua {
	color: $base-aqua;
}
#como-funciona {
	// background-color: $hard-gray;
	background-color: transparent;
	position: relative;
	min-height: 63.5em;
	padding-top: 5rem;
	margin-top: 4.45rem;
	overflow: hidden;
	@media (max-width: 1440px) {
		padding-bottom: 62rem;
	}
	@media (max-width: 1240px) {
		padding-bottom: 7rem;
	}
	@media (max-width: 1024px) {
		padding-bottom: 1rem;
		min-height: 52.5em;
	}
	@media (max-width: 768px) {
		padding-bottom: 1rem;
		padding-top: 9rem;
	}
	@media (max-width: 425px) {
		background-color: $hard-blue;
		padding-bottom: 1rem;
		padding-top: 4rem;
		min-height: 48.5em;
	}
	h2 {
		color: $white;
		font-weight: 400;
	}
	p {
		color: $white;
		&.aqua {
			color: $base-aqua;
		}
	}
	.how-it-works {
		margin-top: 1rem;
		img {
			// margin-top: 3rem;
			// margin-bottom: 5rem;
		}
	}
	.info {
		position: relative;
		z-index: 1;
		@media (max-width: 425px) {
			background-color: $hard-blue;
			padding-bottom: 1rem;
		}
	}
	#bgvid {
		position: absolute;
		top: -11rem;
		left: 0;
		width: 100%;
		z-index: -1;
		@media (max-width: 768px) {
			top: inherit;
			bottom: 0;
		}
		@media (max-width: 425px) {
			z-index: 1;
		    width: 130%;
		    left: -15.5%;
		}
	}
}
#how-it-works {
	background-color: $hard-gray;
	padding-top: 5rem;
	margin-top: 2.45rem;
	padding-bottom: 3rem;
	color: $white;
	img {
		margin: 2rem 0 1rem;
	}
}
.sub-servs {
	background-color: $white;
	padding: 7rem 0 0;
	h2 {
		// color: $white;
		font-weight: 400;
	}
	p {
		// color: $white;
		&.aqua {
			color: $base-aqua;
		}
	}
	.how-it-works {
		img {
			margin-top: 3rem;
			margin-bottom: 5rem;
		}
	}
	.venta-renta {
		h4 {
			// color: $white;
			font-size: 1.25rem;
		}
		ul {
			font-size: 0.85rem;
			// color: $white;
		}
		p {
			font-size: 0.75rem;
		}
	}
	#venta-paneles {
		padding: 4rem 0;

	}
	#renta-paneles {
		padding: 2rem 0;
		background-color: $light-gray;
	}
}

#proceso {
	background-color: $white;
	padding-bottom: 0;
	h2 {
		position: relative;
		// &:before {
		// 	content: ' ';
		// 	height: 1px;
	 //    background-color: $gray;
	 //    display: block;
	 //    width: 25%;
	 //    position: absolute;
	 //    left: 0;
	 //    top: 3.5rem;
		// }
		// &:after {
		// 	content: ' ';
		// 	height: 1px;
	 //    background-color: $gray;
	 //    display: block;
	 //    width: 25%;
	 //    position: absolute;
	 //    right: 0;
	 //    top: 3.5rem;
		// }
	}
	p {
		font-size: 0.95rem;
		img {
			margin: 0 2rem;
		}
	}
	h3 {
		margin-top: 1rem;
		span {
			border: 1px solid $gray;
	    width: 2.25rem;
	    height: 2.25rem;
	    display: inline-block;
	    border-radius: 50%;
	    line-height: 1.5rem;
		}
	}
}

#galeria {
	background-color: $light-gray;
	h2 {
		position: relative;
		// &:before {
		// 	content: ' ';
		// 	height: 1px;
	 //    background-color: $gray;
	 //    display: block;
	 //    width: 25%;
	 //    position: absolute;
	 //    left: 0;
	 //    top: 3.5rem;
		// }
		// &:after {
		// 	content: ' ';
		// 	height: 1px;
	 //    background-color: $gray;
	 //    display: block;
	 //    width: 25%;
	 //    position: absolute;
	 //    right: 0;
	 //    top: 3.5rem;
		// }
	}
	.gal {
		overflow: hidden;
		border-radius: 4px;
		position: relative;
		margin-bottom: 2rem;
		cursor: crosshair;
		&:hover {
			.over {
				opacity: 1;
				transform: translateX(0);
				-webkit-transform: translateX(0);
				-moz-transform: translateX(0);
				-o-transform: translateX(0);
			}
		}
		.normal {
			
		}
		.over {
			opacity: 0;
			background-color: rgba($dark, 0.825);
			padding: 3rem 1rem;
		    color: $white;
		    position: absolute;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    text-align: center;

		    transform: translateX(-100%);
		    -webkit-transform: translateX(-100%);
		    -moz-transform: translateX(-100%);
		    -o-transform: translateX(-100%);

		    transition: all .3s;
		    -moz-transition: all .3s;
		    -webkit-transition: all .3s;
		    -o-transition: all .3s;
		    -ms-transition:all .3s;
		}
	}
}

#acerca {
	background-color: $light;
	h2 {
		position: relative;
		// &:before {
		// 	content: ' ';
		// 	height: 1px;
	 //    background-color: $gray;
	 //    display: block;
	 //    width: 25%;
	 //    position: absolute;
	 //    left: 0;
	 //    top: 3.5rem;
		// }
		// &:after {
		// 	content: ' ';
		// 	height: 1px;
	 //    background-color: $gray;
	 //    display: block;
	 //    width: 25%;
	 //    position: absolute;
	 //    right: 0;
	 //    top: 3.5rem;
		// }
	}
}

#contacto {
	background-color: $hard-gray;
	padding-top: 3rem;
	padding-bottom: 3rem;
	.leftInfo {
		color: $white;
		img {
			max-width: 8rem;
		}
		ul {
			margin: 2rem 0 4rem 3rem;
			position: relative;
			li{
			  	list-style: none;
	  	    font-size: 0.75rem;
	  	    margin-bottom: 1.75rem;
	  	    position: relative;
				&:before {
				  content: '';
				  display: inline-block;
				  height: 1.85rem;
				  width: 1.85rem;
				  background-repeat: no-repeat;
				  background-size: contain;
				  position: absolute;
				  left: -2.85rem;
				}
				&.address:before {
					background-image: url('../assets/svg/icon-address.svg');
				}
				&.phone:before {
					background-image: url('../assets/svg/icon-phone.svg');
				}
				&.mail:before {
					background-image: url('../assets/svg/icon-mail.svg');
				}
			}
		}
		p {
			font-size: 0.75rem;
		}
	}
	.rightInfo {
		color: $white;
		text-align: center;
		p {
			margin-bottom: 0;
		}
		form {
			margin-top: 2rem;
			input {
				border-radius: 0.5rem;
				border: none;
			}
			.button {
				width: 100%;
				background-color: $base-aqua;
				border-radius: 0.5rem;
				font-family: 'Raleway', sans-serif;
				font-weight: 700;
				&:hover {
					background-color: darken( $base-aqua, 10% );
				}
			}
		}
		a {
			color: $white;
			font-size: 0.75rem;
			&:hover {
				color: $base-aqua;
			}
		}
	}
}

#navigation {
	position: absolute;
	top: 90%;
	width: 100%;
	background-color: rgba($blue, 0.5);
	z-index: 9;
	h1 {
		opacity: 0;
		margin: 0;
		@include smooth;
		img {
			max-width: 20rem
		}
	}
	&.fixed {
		position: fixed;
		background-color: $blue;
		h1 {
			opacity: 1;
			a {
				display: block;
				line-height: 1rem;
				margin: 0.25rem 0;
			}
		}
		top: 0;
	}
	.navMain {
		text-align: right;
		a {
			font-size: 0.85rem;
			font-weight: 700;
		}
		ul.menu {
			@media (max-width: 768px) {
				display: none;
			}
		}
		.main-responsive {
			display: none;
			float: right;
			margin: 1rem;
			background-color: $base-aqua;
			@media (max-width: 768px) {
				display: block;
			}
		}
	}
	.social {
		background-color: $base-aqua;
		color: $white;
		text-align: right;
		.cta {
			display: inline-block;
			// font-size: 1.25rem;
			@media (max-width: 425px) {
				font-size: 0.85rem;
			}
		}
		a {
			display: inline-block;
			margin: 0 0 0 1rem;
			color: $white;
			font-size: 1.25rem;
			@media (max-width: 425px) {
				font-size: 0.85rem;
			}
		}
	}
}

.menu {
	float: right;
}

/* Effect 5: same word slide in */

.menu a {
	position: relative;
	outline: none;
	text-decoration: none;
}

.menu a:hover,
.menu a:focus {
	outline: none;
}

/* Effect 13: three circles */
.cl-effect-13 {
	a {
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
		transition: color 0.3s;
		color: $base-aqua;
		&::before {
			position: absolute;
			top: 100%;
			left: 50%;
			color: transparent;
			content: '•';
			text-shadow: 0 0 transparent;
			-webkit-transition: text-shadow 0.3s, color 0.3s;
			-moz-transition: text-shadow 0.3s, color 0.3s;
			transition: text-shadow 0.3s, color 0.3s;
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			transform: translateX(-50%);
			pointer-events: none;
		}
		&:hover {
			&::before {
				color: $base-aqua;
				text-shadow: 10px 0 $base-aqua, -10px 0 $base-aqua;
			}
		}
		// &:focus {
		// 	&::before {
		// 		color: $base-aqua;
		// 		text-shadow: 10px 0 $base-aqua, -10px 0 $base-aqua;
		// 	}
		// }
		&:hover {
			color: $base-aqua;
		}
		// &:focus {
		// 	color: $white;
		// }
		&.active {
			color: $white;
			&:hover {
				&::before {
					color: $white;
					text-shadow: 10px 0 $white, -10px 0 $white;
				}
			}
			// &:focus {
			// 	&::before {
			// 		color: $white;
			// 		text-shadow: 10px 0 $white, -10px 0 $white;
			// 	}
			// }
		}
	}
}
.reveal {
	// padding: 2rem;
	background-color: #111111;
    border: none;
    box-shadow: 1px 1px 35px rgba(0,0,0,0.75);
    width: 65%;
    @media (max-width: 425px) {
    	width: 100%;
    }
	iframe {
		min-height: 27rem;
	}
}
.close-button {
	right: 0.15rem;
	top: -0.25rem;
	font-size: 1.5rem;
	color: $white;
}
.reveal-overlay {
	background-color: rgba(10,10,10,0.75);
}

.init {
	background-color: $base-aqua;
	padding: 2rem 0 1rem;
	a {
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}
	.social {
		color: $white;
		.cta {
			display: inline-block;
			font-size: 1.25rem;
		}
		a {
			display: inline-block;
			margin: 0 0 0 1rem;
			color: $white;
			font-size: 1.5rem;
		}
	}
	ul {
		margin: 0;
		list-style: none;
		li {
			display: inline-block;
		}
	}
}

/* Vertical Accordion Style */
.va-container{
	position: relative;
	margin: 0 auto;
	width: 100% !important;
	height: auto !important;
	min-height: 38rem;
}
.va-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	// overflow: hidden;
	background: #000;
}
.va-slice {
	cursor: pointer;
	position: absolute;
	width: 100%;
	left: 0px;
	// overflow: hidden;
	ul {
		margin-top: 20px;
	}
}
// .va-slice-1 {background: #000 url('../assets/img/slider/02.png') no-repeat center center;}
// .va-slice-2 {background: #000 url('../assets/img/slider/10.png') no-repeat center center;}
.va-slice-color-1 {background-color: #97c5eb;}
.va-slice-color-2 {background-color: #68ace5;}

.va-title{
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	margin-left: 20px;
	font-size: 3rem;
}
.va-content{
	display: none;
	margin-left: 25px;
	img {
		max-width: 10rem;
		margin: 0 auto;
	}
}

.va-nav {
	span {
		width: 40px;
		height: 25px;
		background: transparent url('../images/prev.png') no-repeat center center;
		position: absolute;
		top: -35px;
		left: 50%;
		margin-left: -20px;
		text-indent: -9000px;
		opacity: 0.7;
		cursor: pointer;
		display: none;
		z-index: 100;
		&.va-nav-next {
			background-image: url('../images/next.png');
			top: auto;
			bottom: -35px;
		}
		&:hover {
			opacity: 1.0;
		}
	}
}

.projects {
	.orbit-container {
		height: 460px !important;
		img {
			max-height: 460px;
		}
	}
}

.button {
	&.outline {
		background-color: transparent;
		border: 2px solid;
	}
	&.white {
		border-color: $white;
	}
}